.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project


/target/
/.classpath
/openId2Node.db
/openId2ReferenceNode.db
/openNode2Id.db
/openReferenceNode2Id.db
/log.out
